<component name="ArtifactManager">
  <artifact type="war" name="springmavenboard:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-maven-board.war">
      <element id="artifact" artifact-name="springmavenboard:war exploded" />
    </root>
  </artifact>
</component>